name: Automated API tests using Postman CLI

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - name: Login to Postman CLI
        run: postman login --with-api-key PMAK-691613ff12617100019607d8-fc4e087766b9c3fc37002612bd5f49f9ca

      - name: Run API tests
        run: |
          postman collection run "49119357-ae9874c6-011d-407c-87d3-f9957fda39db" -e "49119357-1c9c0797-fac9-43ba-945f-2dc31d4e3e80"
